Day 1

In [3]:
# 1.Assign the value 10 to a variable named 'number'
number = 10
# 3.Print the values of the above variables (Que.1, 2)
print(number)

10

In [4]:
# 2.Assign the string "Hello" to a variable named 'greeting'
greeting = "Hello"
# 3.Print the values of the above variables (Que.1, 2)
print(greeting)

Hello

In [8]:
# 4.print data type of above variables (Que.1, 2)
print(type(number))
print(type(greeting))

<class 'int'>
<class 'str'>

Day2

In [11]:
# 1.What is type casting? Give an example.
      ## Type casting is the method where we can change the data type of an variable
        ##EX-
a = 54.5
b = int(a)
print("a=",a,type(a))
print("b=",b,type(b))

a= 54.5 <class 'float'>
b= 54 <class 'int'>

In [14]:
#2.Convert the following:
#a. "123" to integer.
a = "123"
b = int(a)
type(b)
#b. 25 to string.
c = 25
d = str(c)
type(d)
#c. "3.14" to float.
x = "3.14"
y = float(x)
type(y)

float

In [21]:
#3.What error occurs if you try int("abc")? Why? correct it
a = int("abc")
print(a)

ValueError: invalid literal for int() with base 10: 'abc'

In [23]:
# we define variable "a" as int in that we wrote string which is in quote so it is invalid
# so we can write it as 
a = str("abc")
print(a)

abc

In [26]:
# 4.How do you create a multi-line string in Python?
print('''This is the milti-line string in python
Where we use triple quote''')

This is the milti-line string in python
Where we use triple quote

In [28]:
# 5.How do you include a quote inside a string?
## by using backslash(\)
print("This is \"PYTHON\" class")

This is "PYTHON" class

In [33]:
# 6.Convert price = "99.99" to a float
price = "99.99"
print(float(price))

99.99

In [34]:
# 7.Create a string: I'm learning "Python"
print("I\'m learning \"Python\"")

I'm learning "Python"

In [ ]:
# 8.what is raw string? what is its use?
>> It is used to give the file path
    >>path = r"file path"

Day 3

In [6]:
# 1.Question: Write a Python program that takes a string as input and prints its length
string = "Hello world"
lenght = len(string)
print(f"lenght of the string {string} is:{lenght}")

lenght of the string Hello world is:11

In [ ]:
#2.Question: Given the string data = "abcdefghijklmnop", write Python code to:
string_data = "abcdefghijklmnop"
A. Get the first 5 characters.
B. Get the last 3 characters.
C. Get characters from index 2 to 7 (inclusive of 2, exclusive of 8).
D. Get every second character.
E. Reverse the string

In [9]:
# A. Get the first 5 characters.
string_data = "abcdefghijklmnop"
string_data[0 : 5]

'abcde'

In [16]:
# B. Get the last 3 characters.
string_data = "abcdefghijklmnop"
string_data[-3 : ]

'nop'

In [20]:
# C. Get characters from index 2 to 7 (inclusive of 2, exclusive of 8).
string_data = "abcdefghijklmnop"
for index,char in enumerate(string_data):
    print(index,char)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p

In [21]:
print(string_data[2:7])

cdefg

In [22]:
# D. Get every second character.
string_data = "abcdefghijklmnop"
string_data[0:15:2]

'acegikmo'

In [23]:
# E. Reverse the string
string_data = "abcdefghijklmnop"
string_data[::-1]

'ponmlkjihgfedcba'

In [24]:
# 3.Question: If you have a string sentence = "This is a long sentence.", how would you extract the word "long" using slicing?
sentence = "This is a long sentence."
sentence[10:14]

'long'

In [25]:
# 4.Question: Write a Python program that takes a string as input and prints each character of the string on a new line using a for loop.
string = "input"
for char in string:
    print(char)

i
n
p
u
t

In [28]:
# 5.Question: Modify the program in question 4 to also print the index of each character alongside the character
string = "input"
for index,char in enumerate(string,1):
    print(index,char)

1 i
2 n
3 p
4 u
5 t

In [30]:
# 6.Question: You have the variables product = "Laptop" and price = 60,000. Use an f-string to print the following sentence: "The Laptop costs 60,000."
product ="Laptop"
price = 60000
print(f"The {product} costs {price}")

The Laptop costs 60000

In [35]:
# 7.Question: Given the variables name = "vikas" and score = 85, use an f-string to print: "vikas's score is 85."
name = "vikas"
score = 85
print(f'{name}\'s score is {score}')
print(f"{name}'s score is {score}")

vikas's score is 85
vikas's score is 85

In [7]:
# 8.Question: Using the .format() method, create the same output as in Question 6: "The Laptop costs 60,000."
product = "Laptop"
price = 60000
output = "The {} costs {}".format(product,price)
print(output)

The Laptop costs 60000

In [38]:
# 9.Question: Write a Python program that takes a string as input and uses the enumerate() function to print each character along with its index.
string = "input"
for char in enumerate(string,1):
    print(char)

(1, 'i')
(2, 'n')
(3, 'p')
(4, 'u')
(5, 't')

In [4]:
# 10.Question: Write a Python program that takes a string as input and uses the range() function along with a for
   #loop to print each character of the string in reverse order of their index.
string = "input"
for char in range(len(string)-1,-1,-1):
    print(string[char])

t
u
p
n
i